container_commands:
  01_up_pip:
    command: "sudo python -m pip install --upgrade pip"
  02_torch:
    command: "python -m pip install torch --no-cache-dir"
  03_torch:
    command: "pip install torch --no-cache-dir"
  04_torch:
    command: "python -m pip install torchvision"
  05_tf:
    command: "pip install torchvision"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: SegmentTracker.settings